@import "../../../../consts/dark-theme-colors";
@import "../../../../consts/sizes";

.container {
    padding: $bigOffset;
    background: $grayBlack;
    color: $white;
    border-radius: $mediumOffset;
    box-shadow: $defaultBoxShadow;

    @media screen and (max-width: $contentWidth_800max) {
        padding: $mediumOffset;
    }
}