@import "../../../../consts/dark-theme-colors";
@import "../../../../consts/sizes";

.container {
    padding: $bigOffset;
    background: $grayBlack;
    color: $white;
    border-radius: $mediumOffset;
    box-shadow: $defaultBoxShadow;
}