@import "src/consts/dark-theme-colors";
@import "src/consts/sizes";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
        display: flex;
        align-items: center;
        padding-top: 5px;

        &:first-child {
            padding-top: 0;
        }
    }

    .text {
        font-size: 12px;
        color: $gray;
        padding-right: $smallOffset;
    }

    .time {
        font-size: 14px;
        color: $lightGray;
    }
}