@import "src/consts/sizes";
@import "src/consts/dark-theme-colors";

.container {
    display: flex;
    justify-content: center;
    margin-top: $smallOffset;

    .content {
        width: $contentWidth;
        transition: .1s;
        
        @media screen and (max-width: $contentWidth) {
            width: $contentWidth_800max;
        }

        @media screen and (max-width: $contentWidth_800max) {
            width: $contentWidth_600max;
        }

        @media screen and (max-width: $contentWidth_600max) {
            width: $contentWidth_400max;
        }

        &.loading {
            animation: loading .5s infinite ease-in-out;
        }

        & > * {
            margin-top: $smallOffset;
        }

        ._1_1_1 {
            display: flex;

            @media screen and (max-width: $contentWidth_800max) {
                flex-direction: column;
            }

            & > * {
                width: calc((100% - #{$smallOffset} * 2) / 3);
                margin-right: $smallOffset;

                @media screen and (max-width: $contentWidth_800max) {
                    width: 100%;
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        ._2_1 {
            display: flex;

            @media screen and (max-width: $contentWidth_800max) {
                flex-direction: column;
            }

            & > * {
                margin-left: $smallOffset;

                @media screen and (max-width: $contentWidth_800max) {
                    margin-left: 0;
                    margin-top: $smallOffset;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }

            ._2_1__2 {
                width: calc(100% / 3 * 2 - #{$smallOffset} / 2);
                min-height: 100%;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: $contentWidth_800max) {
                    width: 100%;
                    margin-left: 0;
                }

                & > * {
                    margin-top: $smallOffset;
                    height: 100%;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            ._2_1__1 {
                width: calc(100% / 3 * 1 - #{$smallOffset} / 2);
                min-height: 100%;

                @media screen and (max-width: $contentWidth_800max) {
                    width: 100%;
                }

                & > * {
                    margin-top: $smallOffset;
                    height: 100%;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        ._1_1 {
            display: flex;

            & > * {
                margin-right: $smallOffset;
                width: calc(100% *.5 - #{$smallOffset} / 2);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}