@import "src/consts/sizes";

.container {
    display: flex;
    justify-content: center;
    margin-top: $mediumOffset;

    .content {
        width: $contentWidth;

        .threeInRow {
            display: flex;
            margin-top: $smallOffset;

            & > * {
                width: calc(100% / 3);

                margin-right: $smallOffset;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}