@import "src/consts/dark-theme-colors";
@import "src/consts/sizes";

.container {
    padding: $mediumOffset;
    background: $grayBlack;
    color: $white;
    border-radius: $mediumOffset;
    box-shadow: $defaultBoxShadow;
}