$darkBlack: #111625;
$grayBlack: #1d2131;
$lightBlack: #27283b;

$gray: #555;
$lightGray: #aaa;
$white: #eee;

$markRedDark: #422;
$markRedLight: #f77;
$markBlueDark: #215;
$markBlueLight: #77f;
$markGreenDark: #242;
$markGreenLight: #8ce88c;
$markOrangeDark: #541;
$markOrangeLight: #f72;

$defaultBoxShadow: 0 4px 10px -4px rgb(0 0 0 / 100%);

@keyframes loading {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: .8;
    }
}