$contentWidth: 800px;
$contentWidth_800max: 600px;
$contentWidth_600max: 400px;
$contentWidth_400max: 320px;


$smallOffset: 5px;
$mediumOffset: 10px;
$bigOffset: 20px;

$smallHeight: 20px;
$mediumHeight: 40px;
$bigHeight: 60px;