@import "src/consts/dark-theme-colors";
@import "src/consts/sizes";

.container {
    display: flex;
    overflow-x: scroll;
    height: 55px;
    position: relative;

    .mark {
        position: absolute;
        left: 140%;
        width: 40px;
        height: 100%;
        background: $markOrangeLight;
        border-radius: $mediumOffset $mediumOffset 0 0;
        z-index: 1;
        transform: translateX(-50%);
    }

    .item {
        margin-top: $smallOffset;
        min-width: 70px;
        max-width: 70px;
        margin-right: $smallOffset;
        position: relative;
        z-index: 2;

        &:last-child {
            margin-right: 0;
        }

        &.current {

            &.active {
                background: $markBlueLight;
                color: $white;
                border: 1px solid $markBlueLight;
            }
        }
    }
}