@import "./src/consts/dark-theme-colors";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: $darkBlack;
}

$scrollWidth: 4;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', 'Verdana', "Trebuchet MS", "Courier New", "Trebuchet MS";

    &::-webkit-scrollbar {
        position: absolute;
        width: #{$scrollWidth}px;
        height: #{$scrollWidth}px;
    }

    &::-webkit-scrollbar-track {
        background: $darkBlack;
        border-radius: calc(#{$scrollWidth}px / 2);
    }

    &::-webkit-scrollbar-thumb {
        background: $markBlueLight;
        border-radius: calc(#{$scrollWidth}px / 2);
    }
}